:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);

  --font-m: 1rem;
  --font-l: 1.25rem;
  --font-xl: 1.5rem;
  --font-s: 0.75rem;
  --fw-200: 200;
  --fw-400: 400;
  --fw-600: 600;

  --spacing-xs: 0.5em;
  --spacing-s: 0.75em;
  --spacing-m: 1em;
  --spacing-l: 1.25em;
  --spacing-xl: 1.5em;
}

/* CSS RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  max-width: 100vw;
}
/* UTILITY CLASSES */
.grid {
  display: grid;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.bg-cyan {
  background-color: var(--cyan);
}
.bg-orange {
  background-color: var(--orange);
}
.bg-red {
  background-color: var(--red);
}
.bg-blue {
  background-color: var(--blue);
}

/* STYLING */
body {
  place-items: center;
  align-content: center;
  font-family: "Poppins";
  color: var(--grey-500);
  background-color: rgb(253, 253, 253);
}

main {
  width: 100%;
  height: 100%;
  align-items: center;
  gap: var(--spacing-xl);
  padding-block: var(--spacing-xl);
}

h1,
h2 {
  font-size: var(--font-xl);
}
h1,
h3 {
  font-weight: var(--fw-600);
}
h2,
p {
  color: var(--grey-400);
  line-height: 150%;
}
h2 {
  font-weight: var(--fw-200);
}
h3 {
  font-size: var(--font-l);
}
p {
  font-size: 0.9375rem;
}
.intro {
  align-items: center;
  max-width: 20rem;
}
.intro p {
  padding-block: var(--spacing-l);
  text-align: center;
}

.cards {
  display: grid;
  gap: 2em;
  place-items: center;
  align-content: center;
}

article {
  width: 100%;
  height: 100%;
  max-width: 20rem;
  border-radius: var(--spacing-xs);
  overflow: hidden;
  background-color: var(--white);
  box-shadow: 1px 1px 15px hsl(0, 0%, 78%);
}

.card {
  gap: var(--spacing-s);
  padding: var(--spacing-l);
}
.card img {
  width: 4rem;
  align-self: flex-end;
  padding-block: var(--spacing-m);
}
.borderline {
  height: 5px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Tablet mode */
  main {
    width: 80%;
  }
  .cards {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  article {
    max-width: 25rem;
  }
  .supervisor,
  .team-builder {
    grid-row: 1;
  }
  .karma,
  .calculator {
    grid-row: 2;
  }
  .intro {
    max-width: 25rem;
  }
}

@media (min-width: 1025px) {
  /* Laptop mode */
  main {
    width: 80%;
    height: 100%;
    padding-block: var(--spacing-l);
  }
  h1 {
    font-size: 2.5rem;
    text-align: initial;
  }
  .intro {
    max-width: 35rem;
  }
  .cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    place-items: center;
  }

  article {
    max-width: 23rem;
  }
  .card {
    padding: var(--spacing-xl);
  }
  .supervisor,
  .calculator {
    grid-row: 1/-1;
    height: fit-content;
  }
  .team-builder,
  .karma {
    grid-column: 2;
  }
  .calculator {
    grid-column: 3;
  }
}

footer {
  position: absolute;
  bottom: 0;
  padding-block: 2rem;
}

